@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-noto-sans-jp: "Noto Sans JP", sans-serif;
}

body {
  font-family: var(--font-inter), var(--font-noto-sans-jp), sans-ser;
}

.react-flow__attribution {
  display: none;
}

@layer base {
  body {
    @apply text-brand-900 dark:text-neutral-50 font-medium;
  }
}
